################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MathSteps.zip
/.vs/decisions-mod-skeleton/v16/.suo
/.vs/MathSteps/v16/Server/sqlite3
/.vs
/MathSteps/bin/Debug
/MathSteps/obj/Debug
/MathSteps/obj/Release
